{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 7</title>
{% endblock meta %}

{% block content %}
<div class="container text-center mt-5 pt-5 mb-5 pb-5">
  
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Aktivitas Saat ini
          </button>
          <button class="up btn"><img src="{% static 'img/up.jpg' %}" alt="up" width="30" height="30"></button>
          <button class="down btn"><img src="{% static 'img/down.jpg' %}" alt="up" width="30" height="30"></button>
        </h2>
      </div>
      
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Mahasiswa Ilmu Komputer Universitas Indonesia
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Pengalaman Organisasi / Kepanitiaan
          </button>
          <button class="up btn"><img src="{% static 'img/up.jpg' %}" alt="up" width="30" height="30"></button>
          <button class="down btn"><img src="{% static 'img/down.jpg' %}" alt="up" width="30" height="30"></button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Jujur belum ada:(
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Prestasi
          </button>
          <button class="up btn"><img src="{% static 'img/up.jpg' %}" alt="up" width="30" height="30"></button>
          <button class="down btn"><img src="{% static 'img/down.jpg' %}" alt="up" width="30" height="30"></button>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Juara 2 Olimpiade Matematika SMP se-Jabodetabek
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Random Tester
          </button>
          <button class="up btn"><img src="{% static 'img/up.jpg' %}" alt="up" width="30" height="30"></button>
          <button class="down btn"><img src="{% static 'img/down.jpg' %}" alt="up" width="30" height="30"></button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          ini jeci
          <br>
          <img src="{% static 'img/jeci.jpg' %}" width="500" height="500">
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
